<ion-view view-title="'Tieto' inteligent building">
  <ion-content class="padding">
    <!-- personalized section -->
	<h4>Reminder</h4>
	<div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
          Meeting with Han Xiao at A328 10:00 am
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-people"></i>
          Group activities at B3 canceled today.
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-person-add"></i>
          Ville want to add you friends.
        </a>
    </div>

    <!-- shortcut section -->
	<h4>Shortcut</h4>
	<div class="list card">
		<a href="#" class="item item-icon-left">
          <i class="icon ion-monitor"></i>
          setup my computer
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-coffee"></i>
          prepare coffee
        </a>
    </div>

	<!-- building info section -->
	<h4>Building info</h4>
  <div id="container">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
      <path fill-opacity="0" stroke-width="10" stroke="#bbb" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z"/>
      <path id="heart-path" fill-opacity="0" stroke-width="10" stroke="#ED6A5A" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z"/>
  </svg>
</div>
	<div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-thermometer"></i>
          {{temp}} °C
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-people"></i>
          130 people inside the building
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-information-circled"></i>
          Building FAQ
        </a>

    </div>

    <h4>Lunch Today:</h4>
	<div class="list card">
	  <div class="item item-body">
	    <img class="full-image" src="img/lunch.jpg">
	    <p>
	      burger with salad, and some more details information here.
	    </p>
	    <p>
	      <a href="#" class="subdued">10 Like</a>
	      <a href="#" class="subdued">15 Comments</a>
	    </p>
	  </div>

	</div>
  </ion-content>
</ion-view>
