<ion-view view-title="'xx' inteligent building">
  <ion-content class="padding">
    <!-- personalized section -->
	<h4>Personal issues:</h4>
	<div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
          Meeting with Han Xiao at A328 10:00 am
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-people"></i>
          Group activities at B3 canceled today.
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-person-add"></i>
          Ville want to add you friends.
        </a>
    </div>

    <!-- shortcut section -->
	<h4>Shortcut:</h4>
	<div class="list card">
		<a href="#" class="item item-icon-left">
          <i class="icon ion-monitor"></i>
          setup my computer
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-coffee"></i>
          prepare coffee
        </a>
    </div>

	<!-- building info section -->
	<h4>Building info:</h4>
	<div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-thermometer"></i>
          {{temp}} °C
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-people"></i>
          130 people inside the building
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-information-circled"></i>
          Building FAQ
        </a>

    </div>

    <h4>Lunch Today:</h4>
	<div class="list card">
	  <div class="item item-body">
	    <img class="full-image" src="img/lunch.jpg">
	    <p>
	      burger with salad, and some more details information here.
	    </p>
	    <p>
	      <a href="#" class="subdued">10 Like</a>
	      <a href="#" class="subdued">15 Comments</a>
	    </p>
	  </div>

	</div>
  </ion-content>
</ion-view>
